.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.containerListUsers {
    text-align: left;
    margin-top: 10px;
    padding-left: 15rem !important;
}

.containerProfilUser {
    text-align: left;
    padding-left: 15rem !important;
}

.formProfile {
    padding-left: 3%;
}

.formSignin {
    padding-left: 15%;
}

hr.solid {
    border-top: 2px solid #bbb;
}

.pagination {
    justify-content: 0 !important;
}