@font-face { font-family: Mania; src: url(../mania.ttf);}


.comedy-title{
    font-size: 30px;
    margin-top: 50%;
    height: fit-content !important;
    font-weight: bolder;
text-shadow: 1px 1px black;
overflow: hidden;
color: #9e0003;
}
.comedy-img{
    height: 500px;
    width: 100%;
}
.btn-hot{
    font-size: 25px !important;
    transition-property: background-color,border;
    transition-duration: .2s,.1s;
    transition-timing-function: ease-in;
}
.btn-hot:hover{
    scale : 1!important;
    background-color : #ff000d32!important;
    border: 3px inset #9e0003!important;
}
.hot-main-title{
    height: fit-content;
    margin-top: 20px;
    margin-bottom : 20px;
}

#home-body{
    background : linear-gradient(#bebdbd, #ededed);
}
.home-cat-header{
    text-shadow: 1px 1px #ededed;
    font-size: 30px;
}
#small-home-main-title{
    font-size: 18px;
    text-decoration: overline;
    font-style: oblique;
}
#home-main-title{
    background-color: #eaeced;
    text-shadow : 1px 1px #efefef;
    color: darkgray;
    padding-top: 15px;
    padding-bottom: 15px;
}
.movie-card-comedy{
    width: 80%;
    margin: auto;
}

.movie-card-home{
    width: 12rem;
    height: auto;
    padding: 6px;
}
.movie-card-home,.movie-card-comedy{
    
    transition-property: background-color, scale, border;
    transition-duration : .3s,.2s;
    transition-timing-function: ease-in-out;
}
.movie-card-home,.movie-card-comedy:hover{
    background-color: rgba(168, 168, 168, 0.4);
    scale: 1.02;
    border: 2px double#9e0003;
}
.card-body.movie-card-body .card-title-home{
    height: 40px !important;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    overflow: hidden;
    color : #9e0003;
}
.img-movie-home{
    width: 100%;
    height: 200px;
}
#movie-card-body{
    padding: 5px;
}
.card-body.movie-card-body #view-movie{
    color: #9e0003;
    background-color: #ededed;
    font-weight: bolder;
    border-color: #9e0003;
}
.card-body.movie-card-body #view-movie:hover{
    color: #aa1417;

}

.card-body.movie-card-body #del-movie{
    color: #9e0003;
    background-color: #ededed;
    font-weight: bolder;
    border-color: #9e0003;
}
.card-body.movie-card-body #del-movie:hover{
    color: #aa1417;
}
#admin-create-movie-btn{
    position : fixed; bottom: 10px; right: 20px;
    display: block;
}

.badge-home-cat{
    position: absolute;
    left: 0px;
    top: -42px;
    font-size: 50px;
}

#best-games h4{
    text-shadow: 2px 2px #bebdbd;
    margin-top : 30px;
    font-weight: bold;
    color: #9e0003;
    background-color: #eaeced;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 80px;
}
#best-games h6{
    background-color: #bebdbd;
    border-radius: 18px;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #9e0003;
    text-shadow: 1px 1px black;
    display: block;
    width: fit-content;
    margin: auto;
}
#best-games iframe{
    margin: auto;
    margin-top: 10px;
}